<div id="container"
     style="width: 100%;"
     class="jumbotron">
     <div class="row">
       <div class="col-md-8">
        <fusioncharts
            [width]="chartWidth"
            [height]="chartHeight"
            type="dragline"
            [dataSource]="dataSource">
        </fusioncharts>
       </div>
       <div class="col-md-4">
         <h4>Must be:</h4>
         <img src='../assets/images/curve.PNG' style = "width: 400px; height: 280px">
       </div>
     </div>
     <div class="row">
        <h4>1. It doesn't shows all values.</h4>
        <p> On this curve must be 9 values (check a console. Array named 'showValueArray' in CurveService).
        <br>Here is an example of point, that not be seen in graph: &#123; anchorRadius: 0, displayValue: "100", showValue: 1, value: -17.79 This is data from &#125;.
        <br> You can find it in basicCurvelinesDataset.data[i].
      </p>
        <h4>2. If you change the size of graph, the shown values will be changed </h4>
        <p> Go to curvelines.component.ts.
            In constructor change a value of 'chartWidth' parameter to 1000 and 'ChartHeight' parameter to 570.
        </p>
        </div>
</div>
