<div id="container"
     style="width: 100%;"
     class="jumbotron">
  <div>
      <fusioncharts
          width="700"
          height="400"
          type="dragline"
          [dataSource]="dataSource">
      </fusioncharts>
  </div>
  <div class="row">
    <h4>How can I put some datasets with diferent gaps?</h4>
    <p> I have two datasets:
    <br> blue: <i>&#123;alue: 1200}, &#123;value: 1500}, &#123;value: 1300}, &#123;value: 900&#125;</i>
    <br> green: <i>&#123;alue: 1200}, &#123;value: 1500&#125;</i>
    <br> Here are a categories of each one:
    <br> blue <i>category: [ &#123;label: 'Q1'}, &#123;label: 'Q2'}, &#123;label: 'Q3'}, &#123;label: 'Q4'&#125;]</i>
    <br> green <i>category: [ &#123;label: 'Q1'}, &#123;label: 'Q4'&#125;]</i>
    <br><b>Why a green line doesn't goes from Q1 to Q6?</b>
  </p>
    </div>
</div>
