<div class="jumbotron"
     style="text-align: center">
    <h1 class="display-3">Questions about powerchart package</h1>
  <div class = 'text'>
    <p>Hi, my name is <a href="https://www.linkedin.com/in/dmitry-calantarov-27762690/" target="_blank">Calantarov Dmitry</a>
        and I work, as a full-stack developer in <a href="https://www.tsgitsystems.com/" target="_blank">TSG IT Advenced Systems Ltd.</a>
        <br> My company buy from you a PowerCharts XT package, and I'm a devepoler, that work with it.
        <br> I have some questions/problems about the package.
        <br> Please, press the buttons on nav-bar and you will see my questions.
        <br> Thank you.
      </p>
  </div>
  <div class="row" style="padding-top: 15px">
    <div class="col-md-4">
      <h3>About us:</h3>
      <a href="https://www.tsgitsystems.com/" target="_blank">
        <img src="../assets/images/tsgPic.PNG" class="aboutUs"/>
      </a>
    </div>
    <div class="col-md-4">
      <h3>LinkedIn profile:</h3>
      <a href="https://www.linkedin.com/company/tsg-it-advanced-systems-ltd/about/" target="_blank">
        <img src="../assets/images/tsgLogo.png" class="tsgLinkedIn"/>
      </a>
    </div>
    <div class="col-md-4">
      <h3>My profile:</h3>
      <a href="https://www.linkedin.com/in/dmitry-calantarov-27762690/" target="_blank">
        <img src="../assets/images/linkedInLogo.png" class="myProfile"/>
      </a>
    </div>
  </div>
</div>

