<div id="container"
     style="width: 100%;"
     class="jumbotron">
  <div>
      <fusioncharts
      width="700"
      height="400"
      type="dragline"
      [dataSource]="dataSource">
    </fusioncharts>
  </div>
  <div class="row">
    <h4>How can I start the line from the middle of the chart?</h4>
    <p> I want to start a 'green' dataset from 'Q4' label.
    <br>In categories I push an object with a labels, for the specific (green) dataset: &#123; category: [ &#123;label: 'Q4'}, &#123;label: 'Q5'}, &#123;label: 'Q6'}] &#125;
  </p>
    </div>
</div>
